body {
    font-family: "Segoe UI" !important;
    overflow-x: hidden !important;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

#main {
    transition: margin-left .5s;
    position: relative;
    top: 55px;
    left: 50px;
    margin-right: 50px;
}

#header nav {
    background-color: #d70018;
    border: none;
}

a:focus, input:focus {
    outline: none !important;
}

a, a:visited, a:active, a:focus , a:hover{
    text-decoration: none;
    color: white;
    background-color: #d70018;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#myNavbar li {
    padding: 0 8px;
}

.navbar-brand {
    padding: 15px 45px;
}
.navbar-right a:hover{
    background-color: #d70018 !important;
}
.input-group {
    width: 900px;
}

.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 55px;
    left: 0;
    background-color: #d70018;
    overflow: hidden;
    transition: 0s;
    padding-top: 60px;
}

#sidenav-open {
    position: absolute;
    top: 10px;
    left: 12px;
}

.sidenav-hide-icon:hover {
    color: white;
    text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none;
}

/*.sidenav a:first-child:hover {*/
/*background-color: #d70018;*/
/*color: white;*/
/*text-decoration: none;*/
/*padding: 0;*/
/*}*/

#sidenav-open {
    font-size: 30px;
    color: #f1f1f1;
    cursor: pointer;
}

.sidenav-left {
    /*height: 100%;*/
    float: left;
    width: 100%;
}

.sidenav-left li {
    padding: 18px 0;
    text-align: center;
    margin: 10px 0;
    /*border-top: 1px solid #eeeeee;*/
    /*border-bottom: 1px solid #eeeeee;*/
}

.sidenav-left img {
    max-width: 20px;
}

.sidenav-right {
    /*height: 100%;*/
    float: left;
    width: 85%;
    display: none;
}

.sidenav-right li {
    /*text-align: center;*/
    margin: 10px 0;
    /*border-left: 1px solid #eeeeee;*/
    /*border-top: 1px solid #eeeeee;*/
    /*border-bottom: 1px solid #eeeeee;*/
}

.sidenav-right a {
    padding: 15px 0;
    display: block;
    font-size: 20px;
}

.menu-item a {
    color: #333;
}

.menu-item a:hover {
    text-decoration: none;
}

.modal-header {
    background-color: #d70018;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
}

.modal-header button {
    opacity: 1;
    color: white;
}

.modal-body {
    text-align: center;
    border: none;
    padding: 60px;
}

.slide-wrapper {
    position: relative;
    padding-left: 15px;
    width: 50%;
    display: inline-block;
    float: left;
}

.mySlides {
    display: none;
}


.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: black;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.row {
    padding: 0;
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
}

.demo {
    opacity: 0.4;
}

.active, .demo:hover {
    opacity: 1;
}

.slide-details {
    display: inline-block;
    float: left;
    width: 50%;
    padding-left: 15px;
}
.slide-details li{
    padding: 15px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}